/*********************
Use SASS to write your CSS
SASS files are:

main.scss
which will import:

normalize.scss
variables.scss
mixins.scss
sticky-footer.scss

You may divide your sass into addition files as you wish.
Eg:
- grid.scss
- buttons.scss
*********************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

* {
  margin: 0; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  margin: 0 auto -100px;
  /* the bottom margin is the negative value of the footer's height */ }

.footer, .push {
  height: 100px;
  /* .push must be the same height as .footer */ }

.footer {
  background-color: #df00e5; }

h1 {
  text-align: center;
  background-color: #4a004c; }

h2 {
  font-family: Nova Mono;
  line-height: 1.000;
  font-size: 2.500em;
  font-weight: normal;
  font-style: normal; }

h3, h4 {
  font-family: Flamenco;
  color: magenta;
  text-decoration: underline;
  line-height: 1.375;
  font-size: 1.500em;
  font-weight: normal;
  font-style: normal; }

p {
  font-family: Trebuchet MS;
  line-height: 1.563;
  font-size: 1.000em;
  font-weight: normal;
  font-style: normal; }

.wrapper {
  margin: 0 auto;
  background-color: #fc7fff; }

.masthead {
  margin: 0 auto; }

.footer p {
  text-align: center;
  padding-top: 5%; }

.row, .masthead {
  box-sizing: border-box;
  padding: 1%;
  background: -webkit-gradient(linear, left top, left bottom, from(#D187F2), to(#FDB2FF));
  background: -moz-linear-gradient(top, #D187F2, #FDB2FF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D187F2', endColorstr='#FDB2FF');
  margin: 0 auto; }
  .row:before, .row:after, .masthead:before, .masthead:after {
    content: " ";
    display: table; }
  .row:after, .masthead:after {
    clear: both; }
  @media (min-width: 300px) {
    .row, .masthead {
      max-width: 300px; } }
  @media (min-width: 600px) {
    .row, .masthead {
      max-width: 600px; } }
  @media screen and (min-width: 800px) {
    .row, .masthead {
      max-width: 800px; } }
  @media screen and (min-width: 960px) {
    .row, .masthead {
      max-width: 960px; } }

@media (min-width: 600px) {
  .col-3 {
    float: left;
    height: 430px;
    width: 49%;
    margin-left: 2%; }
    .col-3:first-child {
      margin-left: 0; }
      .col-3:first-child:nth-child(2n + 1) {
        margin-left: 0; } }
@media screen and (min-width: 800px) {
  .col-3 {
    width: 29.33333%;
    margin-left: 6%; }
    .col-3:first-child {
      margin-left: 0; }
      .col-3:first-child:nth-child(3n + 1) {
        margin-left: 0; } }
@media screen and (min-width: 960px) {
  .col-3 {
    width: 29.33333%;
    margin-left: 6%; }
    .col-3:first-child {
      margin-left: 0; }
      .col-3:first-child:nth-child(3n + 1) {
        margin-left: 0; } }

@media (min-width: 600px) {
  .col-4 {
    float: left;
    height: 250px;
    width: 50%;
    margin-left: 0%; }
    .col-4:first-child {
      margin-left: 0; }
      .col-4:first-child:nth-child(2n + 1) {
        margin-left: 0; } }
@media screen and (min-width: 800px) {
  .col-4 {
    width: 23.5%;
    margin-left: 2%; }
    .col-4:first-child {
      margin-left: 0; }
      .col-4:first-child:nth-child(4n + 1) {
        margin-left: 0; } }
@media screen and (min-width: 960px) {
  .col-4 {
    width: 23.5%;
    margin-left: 2%; }
    .col-4:first-child {
      margin-left: 0; }
      .col-4:first-child:nth-child(4n + 1) {
        margin-left: 0; } }

.box {
  transition: all 0.3s ease; }

.box p, h4, h3 {
  padding: 0rem 1rem; }

.box:hover {
  background: #D187F2;
  box-shadow: inset 0 0 0 9px #A56BBF;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  border-radius: 10%; }
  .box:hover svg {
    padding: 1rem;
    fill: magenta; }

/*# sourceMappingURL=main.css.map */
