//colors

$color-1: lighten(magenta, 30%);
$color-2: lighten(#FDB2FF, 7%);
$color-3: darken($color-2, 70%);
$color-4: #A56BBF;
$color-5: #7028A8;
$color-6: #D187F2;
$magenta: #DB3DC5;

$breakpoint-mobile: 300px;
$breakpoint-small: 600px;
$breakpoint-medium: 800px;
$breakpoint-large: 960px;
